<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated unified -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="UnifiedMetamodel_.presentation.UnifiedMetamodel_ModelWizardID"
            name="%_UI_UnifiedMetamodel_ModelWizard_label"
            class="UnifiedMetamodel_.presentation.UnifiedMetamodel_ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UnifiedMetamodel_ModelFile.gif">
         <description>%_UI_UnifiedMetamodel_ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated unified -->
      <editor
            id="UnifiedMetamodel_.presentation.UnifiedMetamodel_EditorID"
            name="%_UI_UnifiedMetamodel_Editor_label"
            icon="icons/full/obj16/UnifiedMetamodel_ModelFile.gif"
            extensions="unifiedmetamodel_"
            class="UnifiedMetamodel_.presentation.UnifiedMetamodel_Editor"
            contributorClass="UnifiedMetamodel_.presentation.UnifiedMetamodel_ActionBarContributor">
      </editor>
   </extension>

</plugin>
